.section__equipo{
    
    
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
   
   margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    .section__title{
        background-color: #333333;
        
        line-height: normal;
       
        border-radius: 20px;
        text-align: start;
        line-height: normal;
    
        
    border-radius: 20px;
    text-align: center;
    height: 14rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        color: #FFA500;
        font-size: 3rem;
        line-height: 3rem;
        margin: 0px;
    }
}
.section__cards{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}


        h2{
            color: #FFA500;
            font-size: 3rem;
            line-height: 2rem;
            margin: 0px;
        }
        p{
            color: #F5F5F5;
        }

        
    }


    


    @media screen  and (min-width: 1000px) {
        .section__equipo{
            display: flex;
            
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
            width:  90%;
           margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            
            .section__title{
                background-color: #333333;
                width: 50%;
                line-height: normal;
               
                border-radius: 20px;
                text-align: start;
                line-height: normal;
            
                
            border-radius: 20px;
            text-align: center;
            height: 38rem;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section__cards{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            height: 38rem;
        }
        
        
                h2{
                    color: #FFA500;
                    font-size: 3rem;
                    line-height: 2rem;
                    margin: 0px;
                }
                p{
                    color: #F5F5F5;
                }
        
                
            }
        
        
            #section__equipo--2{
                flex-direction: column;
        
                .section__title{
                    width: 100%;
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                .section__cards{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    height: auto;
                }
            }
            #section__equipo--2{
                flex-direction: column;
        
                .section__title{
                    width: 100%;
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                .section__cards{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    height: auto;
                }
            }
        
        
    }