.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 0px;
    
    
    
    width:  100%;
    
    margin-left: auto;
    margin-right: auto;
    border: #333333 solid 1px;
            border-radius: 15px;
            background-color: #F5F5F5;
   
    .card__description{
        color: #333333;
        
        font-size: 1rem;
        line-height: normal;
    }
    .card__image{
        width: 80%;
        max-width: 20.625rem;
        border-radius: 10px;
    }
   
     .card__title{
        color: #333333;
        font-size: 1.5rem;
        
        line-height: normal;
}
    .card__content{
        text-align: center;
    }
}
#card__container--1{

    margin-top: 20px;
}

@media screen  and (min-width: 1000px) {
    #card__equipo--2{
        flex-direction: column;
        padding-top: 5px;
    }
    #card__container--1{
        flex-direction: column;
        margin-top: 20px;
    }
    #card__container--1{
        flex-direction: row;
        max-width: none;
        width: 90%;
        background-color: none;
        border: none;
        gap: 10px;
    margin-top: 20px;
        .card__description{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .card__image{
            width: 100%;
            
        }
        .card__content{
            border: #333333 solid 1px;
            border-radius: 15px;
            background-color: #F5F5F5;
            height: 100%;
            height: 31rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    
    
    
            .card__title{
            color: #333333;
            font-size: 1.5rem;
            
            line-height: normal;
    }
        }
    }
    .card__container{
        display: flex;
        
        align-items: center;
        justify-content: center;
       
        padding: 0px;
        
        
        
        width:  100%;
        
        margin-left: auto;
        margin-right: auto;
        border: #333333 solid 1px;
                border-radius: 15px;
                background-color: #F5F5F5;
       
        .card__description{
            color: #333333;
            
            font-size: 1rem;
            line-height: normal;
        }
        .card__image{
            width: 80%;
            max-width: 20.625rem;
            border-radius: 10px;
        }
       
         .card__title{
            color: #333333;
            font-size: 1.5rem;
            
            line-height: normal;
    }
        .card__content{
            text-align: center;
        }
    }
        
    
}